// Import all the variables into the main css file.
@import "variables";

*{
	box-sizing: border-box;
}
html,body {
    padding:0;
    margin:0;
    height:100%;
    min-height:100%;
}

body{
	background: $bodyBackground;
	font-family: $baseFontFamily;
	line-height: $baseLineHeight;
	color: $grayblue;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: optimizelegibility;
}

//Navigation bar
.navbar{
	background: $white;
}

.menu-txt{
	font-size: 13px;
}

a.active{
	color: $blue !important;
}

a:focus {
    outline: 1px dashed $grayLighter;
}

//Defaults

h1,h2,h3,h4{
	font-family: $sansFontFamily;
	margin: 0;
	padding: 0;
}

// Buttons
.btn-sign-in{
	background-color:$blue;
	color: $white;
	width: 130px;
	border-radius: 3px;
}

//Inbify Logo

.navbar-brand{
	img{
		display: block;
		width: 124px;
		height: 40px;
	}

}

@media (max-width: 767px){
	.navbar-brand img {
		display: block;
		width: 98px;
		height: 35px;	
	}
	
}

//Home Hero Image

.home-header{
	background: transparent url('../img/home-hero-img.jpg') 50% 50% no-repeat;
	background-size: cover;
	margin-top: 90px;
	height: 550px;
	overflow: hidden;
	position: relative;
	.img-holder{
		max-width: 700px;
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: 0;
		left: 42%;
	}
	.tnw-badge{
		background: transparent url('../img/logos/badge_boost-border.png') 50% 50% no-repeat;
		position: absolute;
		bottom: 90%;
		left:85%;
		display: block;
		overflow: hidden;
		text-indent: -999999px;
		width: 100px;
		height: 100px;
		margin-top: 20px;
		
		transition: 0.2s ease;
		-webkit-transition: 0.2s ease;
		-moz-transition: 0.2s ease;
	}
	.tnw-badge:hover {
		background: transparent url('../img/logos/badge_boost-border.png') 50% 50% no-repeat;
		bottom: 92%;
	}
	img{
		display: block;
	}

	h1{
		font-weight: 400;
		letter-spacing: -1px;
		font-size: 50px;
		line-height: 1.3;
		color: $white;
		margin-top: 130px;
	}
	h3{	
		margin-top: 20px;
		font-weight: 400;
		font-size: 26px;
		color: $white;
	}
		.btn-learnmore {
		background: rgba(255, 255, 255, 0.15) url('../img/icons/play.png') 10px 50% no-repeat;
		background-size: 28px 28px;
		display: block;
		width: 185px;
		line-height: 50px;
		margin-top: 25px;
		border: 2px solid $white;
		border-radius: 30px;
		font-family: Arial;
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		transition: all 0.2s ease 0s;
	}
	a:hover{
		background: $blue url('../img/icons/play.png') 10px 50% no-repeat;
		background-size: 28px 28px;
		text-decoration: none;
		border-color: $blue;
	}
	a:active{
		background: $grayDark url('../img/icons/play.png') 10px 50% no-repeat;
		background-size: 28px 28px;
		text-decoration: none;
		border-color: $grayDark;
	}
}


@media (max-width: 600px){
	.home-header{
		margin-top: 80px;
		height: 510px;
		h1{
			letter-spacing: -1px;
			font-size: 30px;
			margin-top: 45px;
		}
		h3{	
			margin-top: 20px;
			font-size: 16px;
		 	color: $white;
		}
		.img-holder{
			margin: 0 8px;
			left: 0;
		}
		.tnw-badge{
			bottom: 65%;
			left:65%;
		}
		.tnw-badge:hover {
			background: transparent url('../img/logos/badge_boost-border.png') 50% 50% no-repeat;
			bottom: 65%;
		}
	}
}

.heading-bar{
		width: 40%;
		height: 8px;
		margin: 10px auto;
		border-radius: 6px;
}

//How it Works
.how-it-works{
	background: $white;
	padding: 50px 0;
	
	.heading-bar{
		background-color: #e2e2e2;
	}
	.row{
		margin-top: 35px;
	}
	img{
		display: block;
		margin: auto;
		width:  180px;
		height: 180px;
	}
	p{
		padding: 0 15px;
		font-size: 13px;
		font-weight: 400;
		text-align: center;
	}
	h1{
		color: $blue;
		font-size: 42px;
		font-weight: 400;
		text-align: center;
	}
	h3{
		color: $blue;
		font-size: 20px;
	}
}

@media (max-width: 600px){
	.heading-bar{
		width: 80%;
	}
}


//Features
.features{
	background: $blue;
	padding: 50px 0;
	
	.heading-bar{
		background-color: #4f96ba;
	}
	.row{
		margin-top: 50px;
	}

	p{
		padding: 0 15px;
		color: $white;
		font-size: 13px;
		font-weight: 400;
		text-align: center;
	}
	h1{
		color: $white;
		font-size: 32px;
		font-weight: 400;
	}
	h2{
		color: $white;
		font-size: 26px;
		font-weight: 400;
	}
	h3{
		color: $bluelight;
		font-size: 20px;
	}
}

@media (max-width: 600px){
	.features{
		img{
			margin-bottom: 15px;
		}
	}
}

.col-1{
    background: rgba(255,0,0,0.4);
    border: 10px rgba(255,0,0,0.6) solid;
}

.col-2{
    background: rgba(0,0,255,0.4);
    border: 10px rgba(0,0,255,0.6) solid;
}

.my-col{
    line-height: 80px;
    color: white;
    text-align: center;
    font-size: 40px;
}


//Try it

.tryit{
	background: $white;
	padding: 50px 0;
	
	.heading-bar{
		background-color: $grayLight;
	}
	.row{
		margin-top: 50px;
	}

	p{
		padding: 0 15px;
		font-size: 13px;
		font-weight: 400;
		text-align: center;
	}
	h1{
		color: $blue;
		font-size: 32px;
		font-weight: 400;
	}
	h2{
		color: $white;
		font-size: 26px;
		font-weight: 400;
	}
	h3{
		color: $white;
		font-size: 20px;
	}
}

.ticket-layout{
	margin-top: 15px;
	padding: 25px;
	border: 1px solid $grayLight;
	border-radius: 6px;
	ul, ol{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ol > li{
		display: inline;
	}
	h2{
		color: $red;
	}
	p{	
		font-size: 20px;
		text-align: left;
		padding: 0;
		margin: 30px 0;
	}
}


// Industries

.industries{
	background: $grayDark;
	padding: 50px 0;
	border-bottom: 1px solid $gray;
	
	.heading-bar{
		background-color: $gray;
	}
	.row{
		margin-top: 50px;
	}

	p{
		padding: 0 15px;
		color: $white;
		font-size: 13px;
		font-weight: 400;
		text-align: center;
	}
	h1{
		color: $white;
		font-size: 32px;
		font-weight: 400;
	}
	h2{
		color: $white;
		font-size: 26px;
		font-weight: 400;
	}
	h3{
		color: $white;
		font-size: 20px;
	}
}

//general page
.head{
	margin-top:90px;
	padding: 40px 0;
	background: $blue;
	background-image: -moz-linear-gradient( 135deg, rgb(125,205,228) 0%, rgb(119,189,225) 100%);
	background-image: -webkit-linear-gradient( 135deg, rgb(125,205,228) 0%, rgb(119,189,225) 100%);
	background-image: -ms-linear-gradient( 135deg, rgb(125,205,228) 0%, rgb(119,189,225) 100%);
	color: $bluelight;
	.heading-bar-subpages{
		background-color: rgb(107,167,197);
		border: 0;
		width: 100%;
		height: 8px;
		margin-top: 25px;
		border-radius: 6px;
	}
	.lead{
		font-size: $fontSizeLarge;
		margin: 0;
	}
	h1{
		color: $white;
	}
	h2{
		color: $white;
		margin-bottom: 15px;
	}
	h4{
		font-size:$fontSizeMedium; 
	}
}

.team{
	img{
		display: block;
		padding:10%;
	}
	h2,h3{
		color: $blue;
		margin: 0;
	}
	p{
		margin: 0;
		padding: 0;
	}
}


//Contact Us page
.contact-content{
	padding:50px 15px;
}


//contact form

#contact {
	padding:0;
	margin:0;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid $grayLight;
	border-radius: 6px;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid $blue;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:30%;
	border:none;
	border-radius: 25px;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid $blue;
}
::-webkit-input-placeholder {
 color:#ccc;
}
:-moz-placeholder {
 color:#ccc;
}
::-moz-placeholder {
 color:#ccc;
}
:-ms-input-placeholder {
 color:#ccc;
}


// Pricing
.pricing-page{
	padding: 40px 0;
	.feature-heading{
		background: transparent;
	}
	.panel-heading{
		display: block;
		line-height: 40px;
		margin: 0;
		padding: 0;
		background: $gray;
		color: $white;
	}
	.h3-features{
		margin-top: 193px;
	}
	.footer-cat{
		display: block;
		line-height: 40px;
		background: $gray;
		text-align: center;
		color: $white;
	}
}


//Support
.support-page{
	.accordion-heading{
		background: $white;
		display: block;
		line-height: 45px;
		padding-left: 15px;
	}
	.accordion-body{
		background: $grayLighter;
		padding: 15px;
	}
	.heading-bar{
		background-color: #e2e2e2;
	}
	.panel-default{
		border: 1px solid transparent;
	}
	.panel-title{
		font-size: $baseFontSize;
		font-family: $baseFontFamily;
		font-weight: 500;
	}
	h2{
		color: $gray;
		font-size: $fontSizeMedium;
	}
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li{
		line-height:30px;
	}
}

@media (max-width: 600px){
	.heading-bar{
		width: 80%;
	}
}



//Footer
footer{
	background: $grayDark;
	color: $white;
	width: 100%;
	
	.footer-wrapper{
		background: $white;
		color: $grayblue;
		padding-top: 15px;
		img{
			float: left;
		}
	}
	.copy-right{
		line-height: 50px;
	}
}


//Align vertically

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}


.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  /* flex: 1; */
  flex-grow: 1;
}

@media (max-width: 600px){
	.vertical-align{
		display: block;
	}
}


//Social Icons

.contact-social-icons{
	list-style: none;
	margin: 0;
	padding: 0;
}
.contact-social-icons li{
	display: inline-block;
	margin: 0 3px;
}
.contact-social-icons li:first-child{
	margin: 0 0;
}
.contact-social-icons li a{
	
	background-size: 100%;
	display: block;
	height: 40px;
	width: 40px;
	text-indent: -999999px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.contact-social-icons li a:hover{
	background-position: 0 100%;
}

.contact-fb-ico{
	background: transparent url(../img/social-icons/icon-facebook-cont.png) 0 0 no-repeat;
}
.contact-tw-ico {
	background: transparent url(../img/social-icons/icon-twitter-cont.png) 0 0 no-repeat;
}
.contact-lin-ico{
	background: transparent url(../img/social-icons/icon-linkedin-cont.png) 0 0 no-repeat;
}
.contact-g-ico{
	background: transparent url(../img/social-icons/icon-googleplus-cont.png) 0 0 no-repeat;
}
.contact-pin-ico{
	background: transparent url(../img/social-icons/icon-pinterest-cont.png) 0 0 no-repeat;
}
.contact-ins-ico{
	background: transparent url(../img/social-icons/icon-instagram-cont.png) 0 0 no-repeat;
}


//Spacers
.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30_hide { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer80 { height: 80px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer90 { height: 90px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }


