/* line 4, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/styles.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

/* line 14, ../sass/styles.scss */
body {
  background: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #576366;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

/* line 25, ../sass/styles.scss */
.navbar {
  background: white;
}

/* line 29, ../sass/styles.scss */
.menu-txt {
  font-size: 13px;
}

/* line 33, ../sass/styles.scss */
a.active {
  color: #77bde1 !important;
}

/* line 37, ../sass/styles.scss */
a:focus {
  outline: 1px dashed whitesmoke;
}

/* line 43, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-family: "Sintony", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 50, ../sass/styles.scss */
.btn-sign-in {
  background-color: #77bde1;
  color: white;
  width: 130px;
  border-radius: 3px;
}

/* line 60, ../sass/styles.scss */
.navbar-brand img {
  display: block;
  width: 124px;
  height: 40px;
}

@media (max-width: 767px) {
  /* line 69, ../sass/styles.scss */
  .navbar-brand img {
    display: block;
    width: 98px;
    height: 35px;
  }
}
/* line 79, ../sass/styles.scss */
.home-header {
  background: transparent url("../img/home-hero-img.jpg") 50% 50% no-repeat;
  background-size: cover;
  margin-top: 90px;
  height: 550px;
  overflow: hidden;
  position: relative;
}
/* line 86, ../sass/styles.scss */
.home-header .img-holder {
  max-width: 700px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 42%;
}
/* line 94, ../sass/styles.scss */
.home-header .tnw-badge {
  background: transparent url("../img/logos/badge_boost-border.png") 50% 50% no-repeat;
  position: absolute;
  bottom: 90%;
  left: 85%;
  display: block;
  overflow: hidden;
  text-indent: -999999px;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
}
/* line 110, ../sass/styles.scss */
.home-header .tnw-badge:hover {
  background: transparent url("../img/logos/badge_boost-border.png") 50% 50% no-repeat;
  bottom: 92%;
}
/* line 114, ../sass/styles.scss */
.home-header img {
  display: block;
}
/* line 118, ../sass/styles.scss */
.home-header h1 {
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 50px;
  line-height: 1.3;
  color: white;
  margin-top: 130px;
}
/* line 126, ../sass/styles.scss */
.home-header h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 26px;
  color: white;
}
/* line 132, ../sass/styles.scss */
.home-header .btn-learnmore {
  background: rgba(255, 255, 255, 0.15) url("../img/icons/play.png") 10px 50% no-repeat;
  background-size: 28px 28px;
  display: block;
  width: 185px;
  line-height: 50px;
  margin-top: 25px;
  border: 2px solid white;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transition: all 0.2s ease 0s;
}
/* line 148, ../sass/styles.scss */
.home-header a:hover {
  background: #77bde1 url("../img/icons/play.png") 10px 50% no-repeat;
  background-size: 28px 28px;
  text-decoration: none;
  border-color: #77bde1;
}
/* line 154, ../sass/styles.scss */
.home-header a:active {
  background: #2a2a2a url("../img/icons/play.png") 10px 50% no-repeat;
  background-size: 28px 28px;
  text-decoration: none;
  border-color: #2a2a2a;
}

@media (max-width: 600px) {
  /* line 164, ../sass/styles.scss */
  .home-header {
    margin-top: 80px;
    height: 510px;
  }
  /* line 167, ../sass/styles.scss */
  .home-header h1 {
    letter-spacing: -1px;
    font-size: 30px;
    margin-top: 45px;
  }
  /* line 172, ../sass/styles.scss */
  .home-header h3 {
    margin-top: 20px;
    font-size: 16px;
    color: white;
  }
  /* line 177, ../sass/styles.scss */
  .home-header .img-holder {
    margin: 0 8px;
    left: 0;
  }
  /* line 181, ../sass/styles.scss */
  .home-header .tnw-badge {
    bottom: 65%;
    left: 65%;
  }
  /* line 185, ../sass/styles.scss */
  .home-header .tnw-badge:hover {
    background: transparent url("../img/logos/badge_boost-border.png") 50% 50% no-repeat;
    bottom: 65%;
  }
}
/* line 192, ../sass/styles.scss */
.heading-bar {
  width: 40%;
  height: 8px;
  margin: 10px auto;
  border-radius: 6px;
}

/* line 200, ../sass/styles.scss */
.how-it-works {
  background: white;
  padding: 50px 0;
}
/* line 204, ../sass/styles.scss */
.how-it-works .heading-bar {
  background-color: #e2e2e2;
}
/* line 207, ../sass/styles.scss */
.how-it-works .row {
  margin-top: 35px;
}
/* line 210, ../sass/styles.scss */
.how-it-works img {
  display: block;
  margin: auto;
  width: 180px;
  height: 180px;
}
/* line 216, ../sass/styles.scss */
.how-it-works p {
  padding: 0 15px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 222, ../sass/styles.scss */
.how-it-works h1 {
  color: #77bde1;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}
/* line 228, ../sass/styles.scss */
.how-it-works h3 {
  color: #77bde1;
  font-size: 20px;
}

@media (max-width: 600px) {
  /* line 235, ../sass/styles.scss */
  .heading-bar {
    width: 80%;
  }
}
/* line 242, ../sass/styles.scss */
.features {
  background: #77bde1;
  padding: 50px 0;
}
/* line 246, ../sass/styles.scss */
.features .heading-bar {
  background-color: #4f96ba;
}
/* line 249, ../sass/styles.scss */
.features .row {
  margin-top: 50px;
}
/* line 253, ../sass/styles.scss */
.features p {
  padding: 0 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 260, ../sass/styles.scss */
.features h1 {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
/* line 265, ../sass/styles.scss */
.features h2 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
/* line 270, ../sass/styles.scss */
.features h3 {
  color: #dceaf1;
  font-size: 20px;
}

@media (max-width: 600px) {
  /* line 278, ../sass/styles.scss */
  .features img {
    margin-bottom: 15px;
  }
}
/* line 284, ../sass/styles.scss */
.col-1 {
  background: rgba(255, 0, 0, 0.4);
  border: 10px rgba(255, 0, 0, 0.6) solid;
}

/* line 289, ../sass/styles.scss */
.col-2 {
  background: rgba(0, 0, 255, 0.4);
  border: 10px rgba(0, 0, 255, 0.6) solid;
}

/* line 294, ../sass/styles.scss */
.my-col {
  line-height: 80px;
  color: white;
  text-align: center;
  font-size: 40px;
}

/* line 304, ../sass/styles.scss */
.tryit {
  background: white;
  padding: 50px 0;
}
/* line 308, ../sass/styles.scss */
.tryit .heading-bar {
  background-color: #e2e2e2;
}
/* line 311, ../sass/styles.scss */
.tryit .row {
  margin-top: 50px;
}
/* line 315, ../sass/styles.scss */
.tryit p {
  padding: 0 15px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 321, ../sass/styles.scss */
.tryit h1 {
  color: #77bde1;
  font-size: 32px;
  font-weight: 400;
}
/* line 326, ../sass/styles.scss */
.tryit h2 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
/* line 331, ../sass/styles.scss */
.tryit h3 {
  color: white;
  font-size: 20px;
}

/* line 337, ../sass/styles.scss */
.ticket-layout {
  margin-top: 15px;
  padding: 25px;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
}
/* line 342, ../sass/styles.scss */
.ticket-layout ul, .ticket-layout ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 347, ../sass/styles.scss */
.ticket-layout ol > li {
  display: inline;
}
/* line 350, ../sass/styles.scss */
.ticket-layout h2 {
  color: #e3221b;
}
/* line 353, ../sass/styles.scss */
.ticket-layout p {
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 30px 0;
}

/* line 364, ../sass/styles.scss */
.industries {
  background: #2a2a2a;
  padding: 50px 0;
  border-bottom: 1px solid #363636;
}
/* line 369, ../sass/styles.scss */
.industries .heading-bar {
  background-color: #363636;
}
/* line 372, ../sass/styles.scss */
.industries .row {
  margin-top: 50px;
}
/* line 376, ../sass/styles.scss */
.industries p {
  padding: 0 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 383, ../sass/styles.scss */
.industries h1 {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
/* line 388, ../sass/styles.scss */
.industries h2 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
/* line 393, ../sass/styles.scss */
.industries h3 {
  color: white;
  font-size: 20px;
}

/* line 400, ../sass/styles.scss */
.head {
  margin-top: 90px;
  padding: 40px 0;
  background: #77bde1;
  background-image: -moz-linear-gradient(135deg, #7dcde4 0%, #77bde1 100%);
  background-image: -webkit-linear-gradient(135deg, #7dcde4 0%, #77bde1 100%);
  background-image: -ms-linear-gradient(135deg, #7dcde4 0%, #77bde1 100%);
  color: #dceaf1;
}
/* line 408, ../sass/styles.scss */
.head .heading-bar-subpages {
  background-color: #6ba7c5;
  border: 0;
  width: 100%;
  height: 8px;
  margin-top: 25px;
  border-radius: 6px;
}
/* line 416, ../sass/styles.scss */
.head .lead {
  font-size: 28px;
  margin: 0;
}
/* line 420, ../sass/styles.scss */
.head h1 {
  color: white;
}
/* line 423, ../sass/styles.scss */
.head h2 {
  color: white;
  margin-bottom: 15px;
}
/* line 427, ../sass/styles.scss */
.head h4 {
  font-size: 20px;
}

/* line 433, ../sass/styles.scss */
.team img {
  display: block;
  padding: 10%;
}
/* line 437, ../sass/styles.scss */
.team h2, .team h3 {
  color: #77bde1;
  margin: 0;
}
/* line 441, ../sass/styles.scss */
.team p {
  margin: 0;
  padding: 0;
}

/* line 449, ../sass/styles.scss */
.contact-content {
  padding: 50px 15px;
}

/* line 456, ../sass/styles.scss */
#contact {
  padding: 0;
  margin: 0;
}

/* line 461, ../sass/styles.scss */
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

/* line 469, ../sass/styles.scss */
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

/* line 478, ../sass/styles.scss */
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #77bde1;
}

/* line 485, ../sass/styles.scss */
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

/* line 491, ../sass/styles.scss */
#contact button[type="submit"] {
  cursor: pointer;
  width: 30%;
  border: none;
  border-radius: 25px;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

/* line 503, ../sass/styles.scss */
#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 510, ../sass/styles.scss */
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 512, ../sass/styles.scss */
#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #77bde1;
}

/* line 516, ../sass/styles.scss */
::-webkit-input-placeholder {
  color: #ccc;
}

/* line 519, ../sass/styles.scss */
:-moz-placeholder {
  color: #ccc;
}

/* line 522, ../sass/styles.scss */
::-moz-placeholder {
  color: #ccc;
}

/* line 525, ../sass/styles.scss */
:-ms-input-placeholder {
  color: #ccc;
}

/* line 531, ../sass/styles.scss */
.pricing-page {
  padding: 40px 0;
}
/* line 533, ../sass/styles.scss */
.pricing-page .feature-heading {
  background: transparent;
}
/* line 536, ../sass/styles.scss */
.pricing-page .panel-heading {
  display: block;
  line-height: 40px;
  margin: 0;
  padding: 0;
  background: #363636;
  color: white;
}
/* line 544, ../sass/styles.scss */
.pricing-page .h3-features {
  margin-top: 193px;
}
/* line 547, ../sass/styles.scss */
.pricing-page .footer-cat {
  display: block;
  line-height: 40px;
  background: #363636;
  text-align: center;
  color: white;
}

/* line 559, ../sass/styles.scss */
.support-page .accordion-heading {
  background: white;
  display: block;
  line-height: 45px;
  padding-left: 15px;
}
/* line 565, ../sass/styles.scss */
.support-page .accordion-body {
  background: whitesmoke;
  padding: 15px;
}
/* line 569, ../sass/styles.scss */
.support-page .heading-bar {
  background-color: #e2e2e2;
}
/* line 572, ../sass/styles.scss */
.support-page .panel-default {
  border: 1px solid transparent;
}
/* line 575, ../sass/styles.scss */
.support-page .panel-title {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
/* line 580, ../sass/styles.scss */
.support-page h2 {
  color: #363636;
  font-size: 20px;
}
/* line 584, ../sass/styles.scss */
.support-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 589, ../sass/styles.scss */
.support-page li {
  line-height: 30px;
}

@media (max-width: 600px) {
  /* line 595, ../sass/styles.scss */
  .heading-bar {
    width: 80%;
  }
}
/* line 603, ../sass/styles.scss */
footer {
  background: #2a2a2a;
  color: white;
  width: 100%;
}
/* line 608, ../sass/styles.scss */
footer .footer-wrapper {
  background: white;
  color: #576366;
  padding-top: 15px;
}
/* line 612, ../sass/styles.scss */
footer .footer-wrapper img {
  float: left;
}
/* line 616, ../sass/styles.scss */
footer .copy-right {
  line-height: 50px;
}

/* line 624, ../sass/styles.scss */
.vertical-align {
  display: flex;
  flex-direction: row;
}

/* line 630, ../sass/styles.scss */
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 638, ../sass/styles.scss */
.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  /* flex: 1; */
  flex-grow: 1;
}

@media (max-width: 600px) {
  /* line 644, ../sass/styles.scss */
  .vertical-align {
    display: block;
  }
}
/* line 652, ../sass/styles.scss */
.contact-social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 657, ../sass/styles.scss */
.contact-social-icons li {
  display: inline-block;
  margin: 0 3px;
}

/* line 661, ../sass/styles.scss */
.contact-social-icons li:first-child {
  margin: 0 0;
}

/* line 664, ../sass/styles.scss */
.contact-social-icons li a {
  background-size: 100%;
  display: block;
  height: 40px;
  width: 40px;
  text-indent: -999999px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 675, ../sass/styles.scss */
.contact-social-icons li a:hover {
  background-position: 0 100%;
}

/* line 679, ../sass/styles.scss */
.contact-fb-ico {
  background: transparent url(../img/social-icons/icon-facebook-cont.png) 0 0 no-repeat;
}

/* line 682, ../sass/styles.scss */
.contact-tw-ico {
  background: transparent url(../img/social-icons/icon-twitter-cont.png) 0 0 no-repeat;
}

/* line 685, ../sass/styles.scss */
.contact-lin-ico {
  background: transparent url(../img/social-icons/icon-linkedin-cont.png) 0 0 no-repeat;
}

/* line 688, ../sass/styles.scss */
.contact-g-ico {
  background: transparent url(../img/social-icons/icon-googleplus-cont.png) 0 0 no-repeat;
}

/* line 691, ../sass/styles.scss */
.contact-pin-ico {
  background: transparent url(../img/social-icons/icon-pinterest-cont.png) 0 0 no-repeat;
}

/* line 694, ../sass/styles.scss */
.contact-ins-ico {
  background: transparent url(../img/social-icons/icon-instagram-cont.png) 0 0 no-repeat;
}

/* line 700, ../sass/styles.scss */
.spacer5 {
  height: 5px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 701, ../sass/styles.scss */
.spacer10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 702, ../sass/styles.scss */
.spacer15 {
  height: 15px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 703, ../sass/styles.scss */
.spacer20 {
  height: 20px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 704, ../sass/styles.scss */
.spacer25 {
  height: 25px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 705, ../sass/styles.scss */
.spacer30 {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 706, ../sass/styles.scss */
.spacer30_hide {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 707, ../sass/styles.scss */
.spacer35 {
  height: 35px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 708, ../sass/styles.scss */
.spacer40 {
  height: 40px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 709, ../sass/styles.scss */
.spacer45 {
  height: 45px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 710, ../sass/styles.scss */
.spacer50 {
  height: 50px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 711, ../sass/styles.scss */
.spacer80 {
  height: 80px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 712, ../sass/styles.scss */
.spacer90 {
  height: 90px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 713, ../sass/styles.scss */
.spacer100 {
  height: 100px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 714, ../sass/styles.scss */
.spacer200 {
  height: 200px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
