/* line 4, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/styles.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

/* line 14, ../sass/styles.scss */
body {
  background: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #576366;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

/* line 25, ../sass/styles.scss */
.navbar {
  background: white;
}

/* line 29, ../sass/styles.scss */
.menu-txt {
  font-size: 13px;
}

/* line 33, ../sass/styles.scss */
a.active {
  color: #77bde1 !important;
}

/* line 37, ../sass/styles.scss */
a:focus {
  outline: 1px dashed whitesmoke;
}

/* line 43, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-family: "Sintony", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 49, ../sass/styles.scss */
.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 54, ../sass/styles.scss */
.breadcrumb li {
  display: inline-block;
  font-size: 13px;
}

/* line 58, ../sass/styles.scss */
.breadcrumb a {
  color: white;
  text-decoration: underline;
}

/* line 62, ../sass/styles.scss */
.breadcrumb a:hover {
  text-decoration: none;
}

/* line 65, ../sass/styles.scss */
.breadcrumb > .active {
  color: white;
}

/* line 66, ../sass/styles.scss */
.breadcrumb > li + li:before {
  color: white;
  content: "\002F\00a0";
}

/* line 70, ../sass/styles.scss */
.btn-sign-in {
  background-color: #77bde1;
  color: white;
  width: 130px;
  border-radius: 3px;
}

/* line 80, ../sass/styles.scss */
.navbar-brand img {
  display: block;
  width: 124px;
  height: 40px;
}

@media (max-width: 767px) {
  /* line 89, ../sass/styles.scss */
  .navbar-brand img {
    display: block;
    width: 98px;
    height: 35px;
  }
}
/* line 98, ../sass/styles.scss */
.home-header {
  margin-top: 90px;
  height: 550px;
  overflow: hidden;
  position: relative;
}
/* line 103, ../sass/styles.scss */
.home-header .img-holder {
  max-width: 700px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 42%;
}
/* line 111, ../sass/styles.scss */
.home-header .tnw-badge {
  background: transparent url("../img/logos/badge_boost-border.png") 50% 50% no-repeat;
  position: absolute;
  bottom: 90%;
  left: 85%;
  display: block;
  overflow: hidden;
  text-indent: -999999px;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
}
/* line 127, ../sass/styles.scss */
.home-header .tnw-badge:hover {
  background: transparent url("../img/logos/badge_boost-border.png") 50% 50% no-repeat;
  bottom: 92%;
}
/* line 131, ../sass/styles.scss */
.home-header img {
  display: block;
}
/* line 135, ../sass/styles.scss */
.home-header h1 {
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 36px;
  line-height: 1.3;
  color: white;
  margin-top: 130px;
}
/* line 143, ../sass/styles.scss */
.home-header h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
/* line 149, ../sass/styles.scss */
.home-header .btn-learnmore {
  background: rgba(255, 255, 255, 0.15) url("../img/icons/play.png") 10px 50% no-repeat;
  background-size: 28px 28px;
  display: block;
  width: 185px;
  line-height: 50px;
  margin-top: 25px;
  border: 2px solid white;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transition: all 0.2s ease 0s;
}
/* line 165, ../sass/styles.scss */
.home-header a:hover {
  background: #77bde1 url("../img/icons/play.png") 10px 50% no-repeat;
  background-size: 28px 28px;
  text-decoration: none;
  border-color: #77bde1;
}
/* line 171, ../sass/styles.scss */
.home-header a:active {
  background: #2a2a2a url("../img/icons/play.png") 10px 50% no-repeat;
  background-size: 28px 28px;
  text-decoration: none;
  border-color: #2a2a2a;
}

@media (max-width: 600px) {
  /* line 181, ../sass/styles.scss */
  .home-header {
    margin-top: 80px;
    height: 510px;
  }
  /* line 184, ../sass/styles.scss */
  .home-header h1 {
    letter-spacing: -1px;
    font-size: 24px;
    margin-top: 45px;
  }
  /* line 189, ../sass/styles.scss */
  .home-header h3 {
    margin-top: 20px;
    font-size: 13px;
    color: white;
  }
  /* line 194, ../sass/styles.scss */
  .home-header .img-holder {
    margin: 0;
    left: 0;
  }
  /* line 198, ../sass/styles.scss */
  .home-header .tnw-badge {
    bottom: 70%;
    left: 70%;
  }
  /* line 202, ../sass/styles.scss */
  .home-header .tnw-badge:hover {
    background: transparent url("../img/logos/badge_boost-border.png") 50% 50% no-repeat;
    bottom: 65%;
  }
}
/* line 209, ../sass/styles.scss */
.heading-bar {
  width: 40%;
  height: 8px;
  margin: 10px auto;
  border-radius: 6px;
}

/* line 219, ../sass/styles.scss */
.how-it-works {
  background: white;
  padding: 50px 0;
}
/* line 223, ../sass/styles.scss */
.how-it-works .heading-bar {
  background-color: #e2e2e2;
}
/* line 226, ../sass/styles.scss */
.how-it-works .row {
  margin-top: 35px;
}
/* line 229, ../sass/styles.scss */
.how-it-works img {
  display: block;
  margin: auto;
  width: 180px;
  height: 180px;
}
/* line 235, ../sass/styles.scss */
.how-it-works p {
  padding: 0 15px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 241, ../sass/styles.scss */
.how-it-works h1 {
  color: #77bde1;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}
/* line 247, ../sass/styles.scss */
.how-it-works h3 {
  color: #77bde1;
  font-size: 20px;
}

@media (max-width: 600px) {
  /* line 254, ../sass/styles.scss */
  .heading-bar {
    width: 80%;
  }
}
/* line 261, ../sass/styles.scss */
.features {
  background: #77bde1;
  padding: 50px 0;
}
/* line 265, ../sass/styles.scss */
.features .heading-bar {
  background-color: #4f96ba;
}
/* line 268, ../sass/styles.scss */
.features .row {
  margin-top: 50px;
}
/* line 272, ../sass/styles.scss */
.features p {
  padding: 0 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 279, ../sass/styles.scss */
.features h1 {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
/* line 284, ../sass/styles.scss */
.features h2 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
/* line 289, ../sass/styles.scss */
.features h3 {
  color: #dceaf1;
  font-size: 20px;
}

@media (max-width: 600px) {
  /* line 297, ../sass/styles.scss */
  .features img {
    margin-bottom: 15px;
  }
  /* line 300, ../sass/styles.scss */
  .features h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
  }
  /* line 305, ../sass/styles.scss */
  .features h3 {
    text-align: center;
    font-size: 16px;
  }
}
/* line 312, ../sass/styles.scss */
.col-1 {
  background: rgba(255, 0, 0, 0.4);
  border: 10px rgba(255, 0, 0, 0.6) solid;
}

/* line 317, ../sass/styles.scss */
.col-2 {
  background: rgba(0, 0, 255, 0.4);
  border: 10px rgba(0, 0, 255, 0.6) solid;
}

/* line 322, ../sass/styles.scss */
.my-col {
  line-height: 80px;
  color: white;
  text-align: center;
  font-size: 40px;
}

/* line 332, ../sass/styles.scss */
.tryit {
  background: white;
  padding: 50px 0;
}
/* line 336, ../sass/styles.scss */
.tryit .heading-bar {
  background-color: #e2e2e2;
}
/* line 339, ../sass/styles.scss */
.tryit .row {
  margin-top: 50px;
}
/* line 343, ../sass/styles.scss */
.tryit p {
  padding: 0 15px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 349, ../sass/styles.scss */
.tryit h1 {
  color: #77bde1;
  font-size: 32px;
  font-weight: 400;
}
/* line 354, ../sass/styles.scss */
.tryit h2 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
/* line 359, ../sass/styles.scss */
.tryit h3 {
  color: white;
  font-size: 20px;
}

/* line 365, ../sass/styles.scss */
.ticket-layout {
  margin-top: 15px;
  padding: 25px;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
}
/* line 370, ../sass/styles.scss */
.ticket-layout ul, .ticket-layout ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 375, ../sass/styles.scss */
.ticket-layout ol > li {
  display: inline;
}
/* line 378, ../sass/styles.scss */
.ticket-layout h2 {
  color: #e3221b;
}
/* line 381, ../sass/styles.scss */
.ticket-layout p {
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 30px 0;
}

/* line 392, ../sass/styles.scss */
.industries {
  background: #2a2a2a;
  padding: 50px 0;
  border-bottom: 1px solid #363636;
}
/* line 396, ../sass/styles.scss */
.industries img {
  margin-right: 15px;
  display: block;
  height: 100px;
  width: 100px;
}
/* line 402, ../sass/styles.scss */
.industries .ind-blocks {
  margin-bottom: 30px;
}
/* line 405, ../sass/styles.scss */
.industries .heading-bar {
  background-color: #363636;
}
/* line 409, ../sass/styles.scss */
.industries p {
  padding: 0;
  color: white;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}
/* line 416, ../sass/styles.scss */
.industries h1 {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
/* line 421, ../sass/styles.scss */
.industries h2 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
/* line 426, ../sass/styles.scss */
.industries h3 {
  color: white;
  font-size: 20px;
  margin: 0;
}
/* line 431, ../sass/styles.scss */
.industries .ind-cont {
  margin-left: 100px;
}
/* line 434, ../sass/styles.scss */
.industries a {
  display: block;
  margin-top: 8px;
  color: white;
  text-decoration: underline;
}
/* line 440, ../sass/styles.scss */
.industries a:hover {
  color: #77bde1;
  text-decoration: none;
}

/* line 447, ../sass/styles.scss */
.head {
  margin-top: 90px;
  padding: 40px 0;
  background: #77bde1;
  background-image: -moz-linear-gradient(135deg, #7dcde4 0%, #77bde1 100%);
  background-image: -webkit-linear-gradient(135deg, #7dcde4 0%, #77bde1 100%);
  background-image: -ms-linear-gradient(135deg, #7dcde4 0%, #77bde1 100%);
  color: #dceaf1;
}
/* line 456, ../sass/styles.scss */
.head .lead {
  font-size: 28px;
  margin: 0;
}
/* line 460, ../sass/styles.scss */
.head h1 {
  color: white;
}
/* line 463, ../sass/styles.scss */
.head h2 {
  color: white;
  margin-bottom: 15px;
}
/* line 467, ../sass/styles.scss */
.head h4 {
  font-size: 20px;
}
/* line 470, ../sass/styles.scss */
.head a {
  color: #dceaf1;
}

@media (max-width: 600px) {
  /* line 476, ../sass/styles.scss */
  .lead {
    font-size: 13.6px !important;
    margin: 0;
  }

  /* line 480, ../sass/styles.scss */
  .head {
    margin-top: 50px;
  }
}
/* line 486, ../sass/styles.scss */
.team .heading-bar-subpages {
  background-color: #e2e2e2;
  border: 0;
  width: 80%;
  height: 8px;
  margin: 25px auto;
  border-radius: 6px;
}
/* line 494, ../sass/styles.scss */
.team img {
  display: block;
  padding: 10%;
}
/* line 498, ../sass/styles.scss */
.team h1, .team h2, .team h3 {
  color: #77bde1;
  margin: 0;
}
/* line 502, ../sass/styles.scss */
.team p {
  margin: 0;
  padding: 0;
}

/* line 509, ../sass/styles.scss */
.clients .heading-bar-subpages {
  background-color: #e2e2e2;
  border: 0;
  width: 80%;
  height: 8px;
  margin: 25px auto;
  border-radius: 6px;
}
/* line 517, ../sass/styles.scss */
.clients img {
  display: block;
  margin-bottom: 30px;
}
/* line 521, ../sass/styles.scss */
.clients h1, .clients h2, .clients h3 {
  color: #77bde1;
  margin: 0;
}
/* line 525, ../sass/styles.scss */
.clients p {
  margin: 0;
  padding: 0;
}

/* line 534, ../sass/styles.scss */
.contact-content {
  padding: 50px 15px;
}

/* line 541, ../sass/styles.scss */
#contact {
  padding: 0;
  margin: 0;
}

/* line 546, ../sass/styles.scss */
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

/* line 554, ../sass/styles.scss */
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

/* line 563, ../sass/styles.scss */
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #77bde1;
}

/* line 570, ../sass/styles.scss */
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

/* line 576, ../sass/styles.scss */
#contact button[type="submit"] {
  cursor: pointer;
  width: 30%;
  border: none;
  border-radius: 3px;
  background: #77bde1;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

/* line 588, ../sass/styles.scss */
#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 595, ../sass/styles.scss */
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 597, ../sass/styles.scss */
#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #77bde1;
}

/* line 601, ../sass/styles.scss */
::-webkit-input-placeholder {
  color: #ccc;
}

/* line 604, ../sass/styles.scss */
:-moz-placeholder {
  color: #ccc;
}

/* line 607, ../sass/styles.scss */
::-moz-placeholder {
  color: #ccc;
}

/* line 610, ../sass/styles.scss */
:-ms-input-placeholder {
  color: #ccc;
}

/* line 616, ../sass/styles.scss */
.pricing-page {
  padding: 40px 0;
}
/* line 618, ../sass/styles.scss */
.pricing-page .feature-heading {
  background: transparent;
}
/* line 621, ../sass/styles.scss */
.pricing-page .panel-heading {
  display: block;
  line-height: 40px;
  margin: 0;
  padding: 0;
  background: #363636;
  color: white;
}
/* line 629, ../sass/styles.scss */
.pricing-page .h3-features {
  margin-top: 193px;
}
/* line 632, ../sass/styles.scss */
.pricing-page .footer-cat {
  display: block;
  line-height: 40px;
  background: #363636;
  text-align: center;
  color: white;
}

/* line 644, ../sass/styles.scss */
.support-page .accordion-heading {
  background: white;
  display: block;
  line-height: 45px;
  padding-left: 15px;
}
/* line 650, ../sass/styles.scss */
.support-page .accordion-body {
  background: whitesmoke;
  padding: 15px;
}
/* line 654, ../sass/styles.scss */
.support-page .heading-bar {
  background-color: #e2e2e2;
}
/* line 657, ../sass/styles.scss */
.support-page .panel-default {
  border: 1px solid transparent;
}
/* line 660, ../sass/styles.scss */
.support-page .panel-title {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
/* line 665, ../sass/styles.scss */
.support-page h2 {
  color: #363636;
  font-size: 20px;
}
/* line 669, ../sass/styles.scss */
.support-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 674, ../sass/styles.scss */
.support-page li {
  line-height: 30px;
}

@media (max-width: 600px) {
  /* line 680, ../sass/styles.scss */
  .heading-bar {
    width: 80%;
  }
}
/* line 688, ../sass/styles.scss */
.vertical-align {
  display: flex;
  flex-direction: row;
}

/* line 694, ../sass/styles.scss */
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 702, ../sass/styles.scss */
.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  /* flex: 1; */
  flex-grow: 1;
}

@media (max-width: 600px) {
  /* line 708, ../sass/styles.scss */
  .vertical-align {
    display: block;
  }
}
/* line 716, ../sass/styles.scss */
.contact-social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 721, ../sass/styles.scss */
.contact-social-icons li {
  display: inline-block;
  margin: 0 3px;
}

/* line 725, ../sass/styles.scss */
.contact-social-icons li:first-child {
  margin: 0 0;
}

/* line 728, ../sass/styles.scss */
.contact-social-icons li a {
  background-size: 100%;
  display: block;
  height: 40px;
  width: 40px;
  text-indent: -999999px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 739, ../sass/styles.scss */
.contact-social-icons li a:hover {
  background-position: 0 100%;
}

/* line 743, ../sass/styles.scss */
.contact-fb-ico {
  background: transparent url(../img/social-icons/icon-facebook-cont.png) 0 0 no-repeat;
}

/* line 746, ../sass/styles.scss */
.contact-tw-ico {
  background: transparent url(../img/social-icons/icon-twitter-cont.png) 0 0 no-repeat;
}

/* line 749, ../sass/styles.scss */
.contact-lin-ico {
  background: transparent url(../img/social-icons/icon-linkedin-cont.png) 0 0 no-repeat;
}

/* line 752, ../sass/styles.scss */
.contact-g-ico {
  background: transparent url(../img/social-icons/icon-googleplus-cont.png) 0 0 no-repeat;
}

/* line 755, ../sass/styles.scss */
.contact-pin-ico {
  background: transparent url(../img/social-icons/icon-pinterest-cont.png) 0 0 no-repeat;
}

/* line 758, ../sass/styles.scss */
.contact-ins-ico {
  background: transparent url(../img/social-icons/icon-instagram-cont.png) 0 0 no-repeat;
}

/* line 764, ../sass/styles.scss */
.fullscreen-modal {
  position: fixed;
  width: 100%;
}

/* line 769, ../sass/styles.scss */
.fullscreen-modal iframe {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 775, ../sass/styles.scss */
.fullscreen-modal .close {
  z-index: 300;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  color: #fff;
  border: 0;
  background: 0;
}

/* line 787, ../sass/styles.scss */
.fullscreen-modal .close img {
  display: block;
  width: 80px;
  height: 80px;
}

/* line 794, ../sass/styles.scss */
.video-wrapper {
  background: #363636;
}

/* line 800, ../sass/styles.scss */
.text-us {
  text-align: center;
  z-index: 100;
  position: fixed;
  bottom: 0;
  text-decoration: none;
  font-family: sans-serif;
  color: #363636;
  background: #AFD136;
  right: 10px;
  width: 250px;
  padding: 10px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 815, ../sass/styles.scss */
.text-us span {
  height: 40px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  transition: height 0.15s ease-in-out, padding 0.15s ease-in-out;
  color: #363636;
  margin-bottom: -10px;
  margin-top: 5px;
  opacity: 0.8;
  padding: 5px 0px 0px;
  background-color: white;
}

/* line 831, ../sass/styles.scss */
.blog-list {
  padding: 0 50px;
}
/* line 833, ../sass/styles.scss */
.blog-list a {
  display: block;
  position: relative;
  padding: 4rem 0;
}
/* line 838, ../sass/styles.scss */
.blog-list .btn-more {
  background: #e2e2e2;
  display: block;
  line-height: 50px;
  text-align: center;
  padding: 0;
  margin: 15px 0;
  border-radius: 3px;
}
/* line 847, ../sass/styles.scss */
.blog-list .btn-more:hover {
  background: #77bde1;
  color: white;
}
/* line 851, ../sass/styles.scss */
.blog-list article {
  position: relative;
  padding-left: 12rem;
  color: #3c3c3c;
  text-align: left;
}
/* line 857, ../sass/styles.scss */
.blog-list article .date {
  background: #363636;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  padding-top: 16px;
}
/* line 868, ../sass/styles.scss */
.blog-list article .date hr {
  display: block;
  width: 30px;
  background: #e2e2e2;
  height: 3px;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 1.5px;
}
/* line 878, ../sass/styles.scss */
.blog-list article .date p, .blog-list article .date h3 {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  /* line 889, ../sass/styles.scss */
  .blog-list {
    padding: 0 15px;
  }
  /* line 891, ../sass/styles.scss */
  .blog-list a {
    display: block;
    position: relative;
    padding: 2rem 0;
  }
  /* line 896, ../sass/styles.scss */
  .blog-list article {
    margin-top: 20px;
    padding-left: 0;
  }
  /* line 899, ../sass/styles.scss */
  .blog-list article h1 {
    font-size: 20px;
  }
  /* line 902, ../sass/styles.scss */
  .blog-list article .date {
    display: block;
    position: inherit;
    margin-bottom: 20px;
    padding-top: 16px;
  }
  /* line 907, ../sass/styles.scss */
  .blog-list article .date p, .blog-list article .date h3 {
    margin: 0;
    padding: 0;
  }
}
/* line 918, ../sass/styles.scss */
.blog-article {
  padding: 0 50px;
}
/* line 920, ../sass/styles.scss */
.blog-article a {
  display: block;
  position: relative;
  padding: 4rem 0;
}
/* line 925, ../sass/styles.scss */
.blog-article .btn-more {
  background: #e2e2e2;
  display: block;
  line-height: 50px;
  text-align: center;
  padding: 0;
  margin: 15px 0;
  border-radius: 3px;
}
/* line 934, ../sass/styles.scss */
.blog-article .btn-more:hover {
  background: #77bde1;
  color: white;
}
/* line 938, ../sass/styles.scss */
.blog-article article {
  margin-top: 50px;
  position: relative;
  padding-left: 12rem;
  color: #3c3c3c;
  text-align: left;
}
/* line 945, ../sass/styles.scss */
.blog-article article .date {
  background: #363636;
  color: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  padding-top: 16px;
}
/* line 956, ../sass/styles.scss */
.blog-article article .date hr {
  display: block;
  width: 30px;
  background: #e2e2e2;
  height: 3px;
  margin: 0 auto;
  padding: 0;
  border: none;
  border-radius: 1.5px;
}
/* line 966, ../sass/styles.scss */
.blog-article article .date p, .blog-article article .date h3 {
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  /* line 977, ../sass/styles.scss */
  .blog-article {
    padding: 0 15px;
  }
  /* line 979, ../sass/styles.scss */
  .blog-article a {
    display: block;
    position: relative;
    padding: 2rem 0;
  }
  /* line 984, ../sass/styles.scss */
  .blog-article article {
    margin-top: 20px;
    padding-left: 0;
  }
  /* line 987, ../sass/styles.scss */
  .blog-article article h1 {
    font-size: 20px;
  }
  /* line 990, ../sass/styles.scss */
  .blog-article article .date {
    display: block;
    position: inherit;
    margin-bottom: 20px;
    padding-top: 16px;
  }
  /* line 995, ../sass/styles.scss */
  .blog-article article .date p, .blog-article article .date h3 {
    margin: 0;
    padding: 0;
  }
}
/* line 1006, ../sass/styles.scss */
footer {
  background: #2a2a2a;
  color: white;
  width: 100%;
}
/* line 1010, ../sass/styles.scss */
footer .ficons {
  text-indent: -999999px;
  overflow: hidden;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: -8px;
  margin-left: 10px;
  border: 1px solid red;
}
/* line 1022, ../sass/styles.scss */
footer .footer-wrapper {
  background: white;
  color: #576366;
  padding-top: 15px;
}
/* line 1026, ../sass/styles.scss */
footer .footer-wrapper img {
  float: left;
}
/* line 1030, ../sass/styles.scss */
footer .copy-right {
  line-height: 50px;
}
/* line 1034, ../sass/styles.scss */
footer .footer-text-right {
  text-align: right;
}

@media (max-width: 600px) {
  /* line 1041, ../sass/styles.scss */
  footer .copy-right {
    text-align: center !important;
  }
}
/* line 1048, ../sass/styles.scss */
.spacer5 {
  height: 5px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1049, ../sass/styles.scss */
.spacer10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1050, ../sass/styles.scss */
.spacer15 {
  height: 15px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1051, ../sass/styles.scss */
.spacer20 {
  height: 20px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1052, ../sass/styles.scss */
.spacer25 {
  height: 25px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1053, ../sass/styles.scss */
.spacer30 {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1054, ../sass/styles.scss */
.spacer30_hide {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1055, ../sass/styles.scss */
.spacer35 {
  height: 35px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1056, ../sass/styles.scss */
.spacer40 {
  height: 40px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1057, ../sass/styles.scss */
.spacer45 {
  height: 45px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1058, ../sass/styles.scss */
.spacer50 {
  height: 50px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1059, ../sass/styles.scss */
.spacer80 {
  height: 80px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1060, ../sass/styles.scss */
.spacer90 {
  height: 90px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1061, ../sass/styles.scss */
.spacer100 {
  height: 100px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 1062, ../sass/styles.scss */
.spacer200 {
  height: 200px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
