/* line 4, ../sass/styles.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/styles.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
}

/* line 14, ../sass/styles.scss */
body {
  background: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #576366;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

/* line 25, ../sass/styles.scss */
.navbar {
  background: white;
}

/* line 29, ../sass/styles.scss */
.menu-txt {
  font-size: 13px;
}

/* line 33, ../sass/styles.scss */
a.active {
  color: #77bde1 !important;
}

/* line 37, ../sass/styles.scss */
a:focus {
  outline: 1px dashed whitesmoke;
}

/* line 43, ../sass/styles.scss */
h1, h2, h3, h4 {
  font-family: "Sintony", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 50, ../sass/styles.scss */
.btn-sign-in {
  background-color: #77bde1;
  color: white;
  width: 130px;
  border-radius: 3px;
}

/* line 60, ../sass/styles.scss */
.navbar-brand img {
  display: block;
  width: 124px;
  height: 40px;
}

@media (max-width: 767px) {
  /* line 69, ../sass/styles.scss */
  .navbar-brand img {
    display: block;
    width: 98px;
    height: 35px;
  }
}
/* line 78, ../sass/styles.scss */
.home-header {
  margin-top: 90px;
  height: 550px;
  overflow: hidden;
  position: relative;
}
/* line 83, ../sass/styles.scss */
.home-header .img-holder {
  max-width: 700px;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 42%;
}
/* line 91, ../sass/styles.scss */
.home-header .tnw-badge {
  background: transparent url("../img/logos/badge_boost-border.png") 50% 50% no-repeat;
  position: absolute;
  bottom: 90%;
  left: 85%;
  display: block;
  overflow: hidden;
  text-indent: -999999px;
  width: 100px;
  height: 100px;
  margin-top: 20px;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
}
/* line 107, ../sass/styles.scss */
.home-header .tnw-badge:hover {
  background: transparent url("../img/logos/badge_boost-border.png") 50% 50% no-repeat;
  bottom: 92%;
}
/* line 111, ../sass/styles.scss */
.home-header img {
  display: block;
}
/* line 115, ../sass/styles.scss */
.home-header h1 {
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 50px;
  line-height: 1.3;
  color: white;
  margin-top: 130px;
}
/* line 123, ../sass/styles.scss */
.home-header h3 {
  margin-top: 20px;
  font-weight: 400;
  font-size: 26px;
  color: white;
}
/* line 129, ../sass/styles.scss */
.home-header .btn-learnmore {
  background: rgba(255, 255, 255, 0.15) url("../img/icons/play.png") 10px 50% no-repeat;
  background-size: 28px 28px;
  display: block;
  width: 185px;
  line-height: 50px;
  margin-top: 25px;
  border: 2px solid white;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  transition: all 0.2s ease 0s;
}
/* line 145, ../sass/styles.scss */
.home-header a:hover {
  background: #77bde1 url("../img/icons/play.png") 10px 50% no-repeat;
  background-size: 28px 28px;
  text-decoration: none;
  border-color: #77bde1;
}
/* line 151, ../sass/styles.scss */
.home-header a:active {
  background: #2a2a2a url("../img/icons/play.png") 10px 50% no-repeat;
  background-size: 28px 28px;
  text-decoration: none;
  border-color: #2a2a2a;
}

@media (max-width: 600px) {
  /* line 161, ../sass/styles.scss */
  .home-header {
    margin-top: 80px;
    height: 510px;
  }
  /* line 164, ../sass/styles.scss */
  .home-header h1 {
    letter-spacing: -1px;
    font-size: 30px;
    margin-top: 45px;
  }
  /* line 169, ../sass/styles.scss */
  .home-header h3 {
    margin-top: 20px;
    font-size: 16px;
    color: white;
  }
  /* line 174, ../sass/styles.scss */
  .home-header .img-holder {
    margin: 0;
    left: 0;
  }
  /* line 178, ../sass/styles.scss */
  .home-header .tnw-badge {
    bottom: 70%;
    left: 70%;
  }
  /* line 182, ../sass/styles.scss */
  .home-header .tnw-badge:hover {
    background: transparent url("../img/logos/badge_boost-border.png") 50% 50% no-repeat;
    bottom: 65%;
  }
}
/* line 189, ../sass/styles.scss */
.heading-bar {
  width: 40%;
  height: 8px;
  margin: 10px auto;
  border-radius: 6px;
}

/* line 199, ../sass/styles.scss */
.how-it-works {
  background: white;
  padding: 50px 0;
}
/* line 203, ../sass/styles.scss */
.how-it-works .heading-bar {
  background-color: #e2e2e2;
}
/* line 206, ../sass/styles.scss */
.how-it-works .row {
  margin-top: 35px;
}
/* line 209, ../sass/styles.scss */
.how-it-works img {
  display: block;
  margin: auto;
  width: 180px;
  height: 180px;
}
/* line 215, ../sass/styles.scss */
.how-it-works p {
  padding: 0 15px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 221, ../sass/styles.scss */
.how-it-works h1 {
  color: #77bde1;
  font-size: 42px;
  font-weight: 400;
  text-align: center;
}
/* line 227, ../sass/styles.scss */
.how-it-works h3 {
  color: #77bde1;
  font-size: 20px;
}

@media (max-width: 600px) {
  /* line 234, ../sass/styles.scss */
  .heading-bar {
    width: 80%;
  }
}
/* line 241, ../sass/styles.scss */
.features {
  background: #77bde1;
  padding: 50px 0;
}
/* line 245, ../sass/styles.scss */
.features .heading-bar {
  background-color: #4f96ba;
}
/* line 248, ../sass/styles.scss */
.features .row {
  margin-top: 50px;
}
/* line 252, ../sass/styles.scss */
.features p {
  padding: 0 15px;
  color: white;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 259, ../sass/styles.scss */
.features h1 {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
/* line 264, ../sass/styles.scss */
.features h2 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
/* line 269, ../sass/styles.scss */
.features h3 {
  color: #dceaf1;
  font-size: 20px;
}

@media (max-width: 600px) {
  /* line 277, ../sass/styles.scss */
  .features img {
    margin-bottom: 15px;
  }
  /* line 280, ../sass/styles.scss */
  .features h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
  }
  /* line 285, ../sass/styles.scss */
  .features h3 {
    text-align: center;
    font-size: 16px;
  }
}
/* line 292, ../sass/styles.scss */
.col-1 {
  background: rgba(255, 0, 0, 0.4);
  border: 10px rgba(255, 0, 0, 0.6) solid;
}

/* line 297, ../sass/styles.scss */
.col-2 {
  background: rgba(0, 0, 255, 0.4);
  border: 10px rgba(0, 0, 255, 0.6) solid;
}

/* line 302, ../sass/styles.scss */
.my-col {
  line-height: 80px;
  color: white;
  text-align: center;
  font-size: 40px;
}

/* line 312, ../sass/styles.scss */
.tryit {
  background: white;
  padding: 50px 0;
}
/* line 316, ../sass/styles.scss */
.tryit .heading-bar {
  background-color: #e2e2e2;
}
/* line 319, ../sass/styles.scss */
.tryit .row {
  margin-top: 50px;
}
/* line 323, ../sass/styles.scss */
.tryit p {
  padding: 0 15px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}
/* line 329, ../sass/styles.scss */
.tryit h1 {
  color: #77bde1;
  font-size: 32px;
  font-weight: 400;
}
/* line 334, ../sass/styles.scss */
.tryit h2 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
/* line 339, ../sass/styles.scss */
.tryit h3 {
  color: white;
  font-size: 20px;
}

/* line 345, ../sass/styles.scss */
.ticket-layout {
  margin-top: 15px;
  padding: 25px;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
}
/* line 350, ../sass/styles.scss */
.ticket-layout ul, .ticket-layout ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 355, ../sass/styles.scss */
.ticket-layout ol > li {
  display: inline;
}
/* line 358, ../sass/styles.scss */
.ticket-layout h2 {
  color: #e3221b;
}
/* line 361, ../sass/styles.scss */
.ticket-layout p {
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 30px 0;
}

/* line 372, ../sass/styles.scss */
.industries {
  background: #2a2a2a;
  padding: 50px 0;
  border-bottom: 1px solid #363636;
}
/* line 376, ../sass/styles.scss */
.industries img {
  margin-right: 15px;
  display: block;
  height: 100px;
  width: 100px;
}
/* line 382, ../sass/styles.scss */
.industries .ind-blocks {
  margin-bottom: 30px;
}
/* line 385, ../sass/styles.scss */
.industries .heading-bar {
  background-color: #363636;
}
/* line 389, ../sass/styles.scss */
.industries p {
  padding: 0;
  color: white;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}
/* line 396, ../sass/styles.scss */
.industries h1 {
  color: white;
  font-size: 32px;
  font-weight: 400;
}
/* line 401, ../sass/styles.scss */
.industries h2 {
  color: white;
  font-size: 26px;
  font-weight: 400;
}
/* line 406, ../sass/styles.scss */
.industries h3 {
  color: white;
  font-size: 20px;
  margin: 0;
}
/* line 411, ../sass/styles.scss */
.industries .ind-cont {
  margin-left: 100px;
}
/* line 414, ../sass/styles.scss */
.industries a {
  display: block;
  margin-top: 8px;
  color: white;
  text-decoration: underline;
}
/* line 420, ../sass/styles.scss */
.industries a:hover {
  color: #77bde1;
  text-decoration: none;
}

/* line 427, ../sass/styles.scss */
.head {
  margin-top: 90px;
  padding: 40px 0;
  background: #77bde1;
  background-image: -moz-linear-gradient(135deg, #7dcde4 0%, #77bde1 100%);
  background-image: -webkit-linear-gradient(135deg, #7dcde4 0%, #77bde1 100%);
  background-image: -ms-linear-gradient(135deg, #7dcde4 0%, #77bde1 100%);
  color: #dceaf1;
}
/* line 436, ../sass/styles.scss */
.head .lead {
  font-size: 28px;
  margin: 0;
}
/* line 440, ../sass/styles.scss */
.head h1 {
  color: white;
}
/* line 443, ../sass/styles.scss */
.head h2 {
  color: white;
  margin-bottom: 15px;
}
/* line 447, ../sass/styles.scss */
.head h4 {
  font-size: 20px;
}

@media (max-width: 600px) {
  /* line 453, ../sass/styles.scss */
  .lead {
    font-size: 13.6px !important;
    margin: 0;
  }

  /* line 457, ../sass/styles.scss */
  .head {
    margin-top: 50px;
  }
}
/* line 463, ../sass/styles.scss */
.team .heading-bar-subpages {
  background-color: #e2e2e2;
  border: 0;
  width: 80%;
  height: 8px;
  margin: 25px auto;
  border-radius: 6px;
}
/* line 471, ../sass/styles.scss */
.team img {
  display: block;
  padding: 10%;
}
/* line 475, ../sass/styles.scss */
.team h1, .team h2, .team h3 {
  color: #77bde1;
  margin: 0;
}
/* line 479, ../sass/styles.scss */
.team p {
  margin: 0;
  padding: 0;
}

/* line 486, ../sass/styles.scss */
.clients .heading-bar-subpages {
  background-color: #e2e2e2;
  border: 0;
  width: 80%;
  height: 8px;
  margin: 25px auto;
  border-radius: 6px;
}
/* line 494, ../sass/styles.scss */
.clients img {
  display: block;
  margin-bottom: 30px;
}
/* line 498, ../sass/styles.scss */
.clients h1, .clients h2, .clients h3 {
  color: #77bde1;
  margin: 0;
}
/* line 502, ../sass/styles.scss */
.clients p {
  margin: 0;
  padding: 0;
}

/* line 511, ../sass/styles.scss */
.contact-content {
  padding: 50px 15px;
}

/* line 518, ../sass/styles.scss */
#contact {
  padding: 0;
  margin: 0;
}

/* line 523, ../sass/styles.scss */
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

/* line 531, ../sass/styles.scss */
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

/* line 540, ../sass/styles.scss */
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #77bde1;
}

/* line 547, ../sass/styles.scss */
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

/* line 553, ../sass/styles.scss */
#contact button[type="submit"] {
  cursor: pointer;
  width: 30%;
  border: none;
  border-radius: 25px;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

/* line 565, ../sass/styles.scss */
#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 572, ../sass/styles.scss */
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 574, ../sass/styles.scss */
#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #77bde1;
}

/* line 578, ../sass/styles.scss */
::-webkit-input-placeholder {
  color: #ccc;
}

/* line 581, ../sass/styles.scss */
:-moz-placeholder {
  color: #ccc;
}

/* line 584, ../sass/styles.scss */
::-moz-placeholder {
  color: #ccc;
}

/* line 587, ../sass/styles.scss */
:-ms-input-placeholder {
  color: #ccc;
}

/* line 593, ../sass/styles.scss */
.pricing-page {
  padding: 40px 0;
}
/* line 595, ../sass/styles.scss */
.pricing-page .feature-heading {
  background: transparent;
}
/* line 598, ../sass/styles.scss */
.pricing-page .panel-heading {
  display: block;
  line-height: 40px;
  margin: 0;
  padding: 0;
  background: #363636;
  color: white;
}
/* line 606, ../sass/styles.scss */
.pricing-page .h3-features {
  margin-top: 193px;
}
/* line 609, ../sass/styles.scss */
.pricing-page .footer-cat {
  display: block;
  line-height: 40px;
  background: #363636;
  text-align: center;
  color: white;
}

/* line 621, ../sass/styles.scss */
.support-page .accordion-heading {
  background: white;
  display: block;
  line-height: 45px;
  padding-left: 15px;
}
/* line 627, ../sass/styles.scss */
.support-page .accordion-body {
  background: whitesmoke;
  padding: 15px;
}
/* line 631, ../sass/styles.scss */
.support-page .heading-bar {
  background-color: #e2e2e2;
}
/* line 634, ../sass/styles.scss */
.support-page .panel-default {
  border: 1px solid transparent;
}
/* line 637, ../sass/styles.scss */
.support-page .panel-title {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
}
/* line 642, ../sass/styles.scss */
.support-page h2 {
  color: #363636;
  font-size: 20px;
}
/* line 646, ../sass/styles.scss */
.support-page ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 651, ../sass/styles.scss */
.support-page li {
  line-height: 30px;
}

@media (max-width: 600px) {
  /* line 657, ../sass/styles.scss */
  .heading-bar {
    width: 80%;
  }
}
/* line 665, ../sass/styles.scss */
.vertical-align {
  display: flex;
  flex-direction: row;
}

/* line 671, ../sass/styles.scss */
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 679, ../sass/styles.scss */
.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
  /* flex: 1; */
  flex-grow: 1;
}

@media (max-width: 600px) {
  /* line 685, ../sass/styles.scss */
  .vertical-align {
    display: block;
  }
}
/* line 693, ../sass/styles.scss */
.contact-social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 698, ../sass/styles.scss */
.contact-social-icons li {
  display: inline-block;
  margin: 0 3px;
}

/* line 702, ../sass/styles.scss */
.contact-social-icons li:first-child {
  margin: 0 0;
}

/* line 705, ../sass/styles.scss */
.contact-social-icons li a {
  background-size: 100%;
  display: block;
  height: 40px;
  width: 40px;
  text-indent: -999999px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/* line 716, ../sass/styles.scss */
.contact-social-icons li a:hover {
  background-position: 0 100%;
}

/* line 720, ../sass/styles.scss */
.contact-fb-ico {
  background: transparent url(../img/social-icons/icon-facebook-cont.png) 0 0 no-repeat;
}

/* line 723, ../sass/styles.scss */
.contact-tw-ico {
  background: transparent url(../img/social-icons/icon-twitter-cont.png) 0 0 no-repeat;
}

/* line 726, ../sass/styles.scss */
.contact-lin-ico {
  background: transparent url(../img/social-icons/icon-linkedin-cont.png) 0 0 no-repeat;
}

/* line 729, ../sass/styles.scss */
.contact-g-ico {
  background: transparent url(../img/social-icons/icon-googleplus-cont.png) 0 0 no-repeat;
}

/* line 732, ../sass/styles.scss */
.contact-pin-ico {
  background: transparent url(../img/social-icons/icon-pinterest-cont.png) 0 0 no-repeat;
}

/* line 735, ../sass/styles.scss */
.contact-ins-ico {
  background: transparent url(../img/social-icons/icon-instagram-cont.png) 0 0 no-repeat;
}

/* line 741, ../sass/styles.scss */
.fullscreen-modal {
  position: fixed;
  width: 100%;
}

/* line 746, ../sass/styles.scss */
.fullscreen-modal iframe {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 752, ../sass/styles.scss */
.fullscreen-modal .close {
  z-index: 300;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  color: #fff;
  border: 0;
  background: 0;
}

/* line 764, ../sass/styles.scss */
.fullscreen-modal .close img {
  display: block;
  width: 80px;
  height: 80px;
}

/* line 772, ../sass/styles.scss */
.text-us {
  text-align: center;
  z-index: 100;
  position: fixed;
  bottom: 0;
  text-decoration: none;
  font-family: sans-serif;
  color: #363636;
  background: #AFD136;
  right: 10px;
  width: 250px;
  padding: 10px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* line 787, ../sass/styles.scss */
.text-us span {
  height: 40px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  transition: height 0.15s ease-in-out, padding 0.15s ease-in-out;
  color: #363636;
  margin-bottom: -10px;
  margin-top: 5px;
  opacity: 0.8;
  padding: 5px 0px 0px;
  background-color: white;
}

/* line 802, ../sass/styles.scss */
footer {
  background: #2a2a2a;
  color: white;
  width: 100%;
}
/* line 806, ../sass/styles.scss */
footer .ficons {
  text-indent: -999999px;
  overflow: hidden;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-bottom: -8px;
  margin-left: 10px;
  border: 1px solid red;
}
/* line 818, ../sass/styles.scss */
footer .footer-wrapper {
  background: white;
  color: #576366;
  padding-top: 15px;
}
/* line 822, ../sass/styles.scss */
footer .footer-wrapper img {
  float: left;
}
/* line 826, ../sass/styles.scss */
footer .copy-right {
  line-height: 50px;
}
/* line 830, ../sass/styles.scss */
footer .footer-text-right {
  text-align: right;
}

@media (max-width: 600px) {
  /* line 837, ../sass/styles.scss */
  footer .copy-right {
    text-align: center !important;
  }
}
/* line 844, ../sass/styles.scss */
.spacer5 {
  height: 5px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 845, ../sass/styles.scss */
.spacer10 {
  height: 10px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 846, ../sass/styles.scss */
.spacer15 {
  height: 15px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 847, ../sass/styles.scss */
.spacer20 {
  height: 20px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 848, ../sass/styles.scss */
.spacer25 {
  height: 25px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 849, ../sass/styles.scss */
.spacer30 {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 850, ../sass/styles.scss */
.spacer30_hide {
  height: 30px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 851, ../sass/styles.scss */
.spacer35 {
  height: 35px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 852, ../sass/styles.scss */
.spacer40 {
  height: 40px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 853, ../sass/styles.scss */
.spacer45 {
  height: 45px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 854, ../sass/styles.scss */
.spacer50 {
  height: 50px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 855, ../sass/styles.scss */
.spacer80 {
  height: 80px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 856, ../sass/styles.scss */
.spacer90 {
  height: 90px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 857, ../sass/styles.scss */
.spacer100 {
  height: 100px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}

/* line 858, ../sass/styles.scss */
.spacer200 {
  height: 200px;
  width: 100%;
  font-size: 0;
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
}
